#root {
  max-width: 1280px;
  padding: 2rem;
}

#register{
  color:black;
}

.form-Input{
  color:black;
  border:2px;
  margin-top: 20px;
  margin-bottom:20px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  color: navy;
}

#create-accountBtn{
  color:white;
  background-color: blue;
}

.form-container{
  border: 2px solid blue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 8%;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin: 10px 10px;
}
