/* ------------- Sidebar styles ------------- */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 240px;
  background-color: #f8f9ff;
  border-right: 1px solid #e0e4f0;
  padding: 20px 12px;
  box-sizing: border-box;
}

.sidebar-header {
  font-weight: bold;
  margin-bottom: 20px;
  color: navy;
}

.profile-picture {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logout {
  margin-top: auto;
  background-color: whitesmoke;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
}

/* ------------- End sidebar styles ------------- */
