.sidebar {
  background-color: lightgray;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.menu-container {
  background-color: whitesmoke;
  border-radius: 15px;
  width: 100%;
  margin: 20px 0;
}

.menu-item {
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  color: navy;
}

.menu-item:hover {
  color: darkblue;
  background-color: lightblue;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin: 10px 10px;
}

.sidebar-header {
  font-weight: bold;
  margin-bottom: 20px;
  color: navy;
}

.profile-picture {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logout {
  margin-top: 120px;
  background-color: whitesmoke;
  border-radius: 15px;
  width: 100%;
  margin: auto;
}