*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#reset-password{
    background-color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:12px;
    padding: 10px 14px 20px 24px;
    border: 0.5px solid #ccc;
    border-radius:12px;
    box-shadow: 0 4px 20px(0,0,0,0.1);
    width: 40vh;
}

#reset-btn{
    padding:10px;
    background-color:#60A5FA;;
    color:white;
    font-size:0.8rem;
    cursor:pointer;
    margin-top:4px;
    width: 200px;
    align-self:center;
}