#register {
  color: black;
}

.form-Input {
  color: black;
  border: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#create-accountBtn {
  color: white;
  background-color: blue;
}

.form-container {
  border: 2px solid blue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 8%;
}
