#root {
  max-width: 1600px;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
  color: navy;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin: 10px 10px;
}
