.sidebar {
    background-color: gray;
    max-width: 400px;
}

.overall-star-rating, .overall-number-rating, .reviews-title {
    margin: 0;
    padding: 0;
}

.reviews-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    gap: 0;
}

.reviews-list {
    padding: 0;
    margin: 0;
}

.review-item {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.add-review-button {
    background-color: steelblue;
    border: black, solid 1px;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.stars {
    font-size: 24px;
    margin: 10px 0;
}

